@using System.Security.Claims

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - McQueen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewLife.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h1>McQueen</h1></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a>
                        @if(User.Claims.FirstOrDefault(c=> c.Type == "type")?.Value == "Admin")
                        {
                        <a class="nav-link text-light" asp-area="" asp-controller="Car" asp-action="Index">Arabalar</a>
                        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">Kullanıcı</a>
                        }
                        <a class="nav-link text-light" asp-controller="Car" asp-action="CarList">Arabalar</a>
                        <a class="nav-link text-light" asp-controller="Rent" asp-action="Index">Rent</a>
                    </div>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link text-light" asp-controller="User" asp-action="Profile">Hoşgeldin, @User.Identity.Name</a>
                            <a class="nav-link text-light" asp-controller="User" asp-action="Logout">Çıkış Yap</a>
                        }
                        else
                        {
                            <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Create">Kayıt Ol</a>
                            <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Login">Giriş Yap</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
