 @model User

<form method="post">
    <div class="row">
        <div class="border p-3 mt-5">
            <div class="row pb-3">

                <h1 class="text-warning">@(Model == null ? "Add User" : "Update User")</h1><hr />
            </div>

            <div class="mb-3">
                <label asp-for="User_Name">User Name</label>
                <input asp-for="User_Name" type="text" class="form-control" />
                <span asp-validation-for="User_Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="User_Surname">User Surname</label>
                <input asp-for="User_Surname" type="text" class="form-control" />
                <span asp-validation-for="User_Surname" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="User_Email">User Email</label>
                <input asp-for="User_Email" type="email" class="form-control" />
                <span asp-validation-for="User_Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="User_Password">User Password</label>
                <input asp-for="User_Password" type="password" class="form-control" />
                <span asp-validation-for="User_Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="User_Phone">User Phone</label>
                <input asp-for="User_Phone" type="text" class="form-control" />
                <span asp-validation-for="User_Phone" class="text-danger"></span>
            </div>

            @if (Model != null)
            {
                <button type="submit" class="btn btn-outline-warning">Update User</button>
            }
            else
            {
                <button type="submit" class="btn btn-outline-warning">Add User</button>
            }
            <a asp-controller="User" asp-action="Index" class="btn btn-outline-warning">Back</a>
        </div>
    </div>
</form>
