@model User
<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-5">

        <div class="row pb-3">
            <h1 class="text-warning">Delete User</h1><hr />
        </div>

        <div class="mb-3">
            <label asp-for="User_Name">User Name</label>
            <input asp-for="User_Name" disabled type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="User_Surname">User Surname</label>
            <input asp-for="User_Surname" disabled type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="User_Email">User Mail</label>
            <input asp-for="User_Email" disabled type="text" class="form-control" />
        </div>

        <button type="submit" class="btn btn-outline-warning">Delete User</button>
        <a asp-controller="User" asp-action="Index" class="btn btn-outline-warning">Back</a>
    </div>
</form>
