@model Car

<form method="post" enctype="multipart/form-data">
    <input asp-for="CarImgUrl" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-5">
                <div class="row pb-3">

                    <h1 class="text-warning">@(Model == null ? "Add Car" : "Update Car")</h1><hr />
                </div>

                <div class="mb-3">
                    <label asp-for="Car_Name">Car Model</label>
                    <input asp-for="Car_Name" type="text" class="form-control" />
                    <span asp-validation-for="Car_Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CarBrandId">Car Brand</label>
                    <select asp-for="CarBrandId" asp-items="ViewBag.CarBrandsList" class="form-select">
                    </select>
                </div>
                <div class="mb-3">
                    <label asp-for="Car_About">About Car </label>
                    <input asp-for="Car_About" type="text" class="form-control" />
                    <span asp-validation-for="Car_About" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Car_Price">Car Price</label>
                    <input asp-for="Car_Price" type="text" class="form-control" />
                    <span asp-validation-for="Car_Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CarImgUrl">Car İmage</label>
                    <input type="file" name="file" class="form-control" />
                </div>

                @if (Model != null)
                {
                    <button type="submit" class="btn btn-outline-warning">Update Car</button>
                }
                else
                {
                    <button type="submit" class="btn btn-outline-warning">Add Car</button>
                }
                <a asp-controller="Car" asp-action="Index" class="btn btn-outline-warning">Back</a>
            </div>
        </div>
        <div class="col-2">
            @if (Model != null)
            {
                <img src="@Model.CarImgUrl" width="100%" style="border-radius:7px; border:1px solid black" />
            }
        </div>
    </div>
</form>
