@model Car
<form method="post" enctype="multipart/form-data">
    <input asp-for="CarImgUrl" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-5">
                <div class="row pb-3">

                    <h1 class="text-warning">@(Model == null ? "Araç Ekle" : "Araç Güncelle")</h1><hr />
                </div>

                <div class="mb-3">
                    <label asp-for="Car_Name">Araç Modeli</label>
                    <input asp-for="Car_Name" type="text" class="form-control" />
                    <span asp-validation-for="Car_Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Car_About">Vites Türü</label>
                    <input asp-for="Car_About" type="text" class="form-control" />
                    <span asp-validation-for="Car_About" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Car_Price">Araç Fiyatı</label>
                    <input asp-for="Car_Price" type="text" class="form-control" />
                    <span asp-validation-for="Car_Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Car_Km">Araç Km</label>
                    <input asp-for="Car_Km" type="text" class="form-control" />
                    <span asp-validation-for="Car_Km" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CarImgUrl">Araç Fotoğrafı</label>
                    <input type="file" name="file" class="form-control" />
                </div>

                @if (Model != null)
                {
                    <button type="submit" class="btn btn-outline-warning">Güncelle</button>
                }
                else
                {
                    <button type="submit" class="btn btn-outline-warning">Ekle</button>
                }
                <a asp-controller="Car" asp-action="Index" class="btn btn-outline-warning">Geri</a>
            </div>
        </div>
        <div class="col-2">
            @if (Model != null)
            {
                <img src="@Model.CarImgUrl" width="100%" style="border-radius:7px; border:1px solid black" />
            }
        </div>
    </div>
</form>
