@{
    ViewData["Title"] = "Home Page";
}

<div class="row d-flex align-content-center align-items-center justify-content-center my-5">
    <div class="col-md-6">
        <h3>Araba Kiralamanın Adresi</h3>
        <h1>McQueen Rent a Car</h1>
    </div>
    <div class="col-md-6"><img src="~/img/pngegg.png" width="70%" /></div>

</div>