@model NewLife.Models.Rent

@{
    ViewBag.Title = Model.Id == 0 ? "Yeni Kayıt" : "Kayıt Güncelle";
}

<h2>@ViewBag.Title</h2>

<form asp-action="AddUpdate" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Rent_Time" class="control-label"></label>
        <input asp-for="Rent_Time" class="form-control" />
        <span asp-validation-for="Rent_Time" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Back_Time" class="control-label"></label>
        <input asp-for="Back_Time" class="form-control" />
        <span asp-validation-for="Back_Time" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="C_Id" class="control-label">Araç</label>
        <select asp-for="C_Id" class="form-control" asp-items="ViewBag.Cars"></select>
    </div>
    <div class="form-group">
        <label asp-for="U_Id" class="control-label">Kullanıcı</label>
        <select asp-for="U_Id" class="form-control" asp-items="ViewBag.Users"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </div>
</form>
