@model Rent
@if (TempData["Succeed"] != null)
{
    <h2>@TempData["Succeed"]</h2>
}
<form method="post">
    <input asp-for="Id" hidden />
    <div class="card text-center">
        <div class="card-header">
            Rent Delete
        </div>
        <div class="card-body">
            <h5 class="card-title">Bu Kiralama Silincektir.</h5>
            <p class="card-text">Bu Kiralama Silincektir. Bu İşlem Geri Alınamaz</p>
            <button type="submit" class="btn btn-outline-warning">Delete Car</button>
            <a asp-controller="Rent" asp-action="Index" class="btn btn-outline-warning">Back</a>
        </div>
    </div>
</form>
