@model List<CarBrands>
@if (TempData["Succeed"] != null)
{
    <h2>@TempData["Succeed"]</h2>
}
<div class="container">
    <div class="row pt-3 pb-4">
        <h1>Car Brands</h1>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Car Brands
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carbrand in Model)
            {
                <tr>
                    <td>
                        @carbrand.Brand_Name
                    </td>
                    <td><a asp-controller="CarBrands" asp-route-id="@carbrand.Id" asp-action="Delete" class="btn btn-danger">DELETE</a></td>
                    <td><a asp-controller="CarBrands" asp-route-id="@carbrand.Id" asp-action="Update" class="btn btn-success">UPDATE</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="CarBrands" asp-action="Add" class="btn btn-warning" type="button">
                Add New Brand
            </a>
        </div>
    </div>
</div>
